<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!-- default mssql connection string -->
    <add name="local_lotstart" connectionString="Data Source=AMPIAPPDEV1\DEV1;Initial Catalog=LotStart;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
    <add name="dev_lotstart" connectionString="Data Source=AMPIAPPDEV1\DEV1;Initial Catalog=LotStart;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
    <add name="prod_lotstart" connectionString="Data Source=ampisql01;Initial Catalog=LotStart;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!--Oracle Connection string-->
    <!--<add key="oracleConn" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=nchlamsdb02.allegro.msad)(PORT= 1526))(CONNECT_DATA=(SERVICE_NAME=D5AMSI)));User Id=APPS_RO;Password=Welcome123"/>-->

    <add key="oracleConn" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=nchlamsdb01.allegro.msad)(PORT= 1524))(CONNECT_DATA=(SERVICE_NAME=D3AMSI)));User Id=APPS_RO;Password=Welcome123"/>
    <!--Org Setting-->
    <add key="Org" value="PFG"/>
    
    <!-- file directories -->
    <add key="local_upload_target" value="FileUploads/excel/targets/" />
    <add key="dev_upload_target" value="FileUploads/excel/targets/" />
    <add key="prod_upload_target" value="FileUploads/excel/targets/" />
    <add key="local_upload_images" value="FileUploads/images/items/" />
    <add key="dev_upload_images" value="FileUploads/images/items/" />
    <add key="prod_upload_images" value="FileUploads/images/items/" />
    <add key="local_upload_attachment" value="FileUploads/attachment/files/" />
    <add key="dev_upload_attachment" value="FileUploads/attachment/files/" />
    <add key="prod_upload_attachment" value="FileUploads/attachment/files/" />
    
    <!--determine environment-->
    <add key="env" value="local" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--local urls-->
    <add key="local_base_url" value="http://localhost:10160" />
    <add key="local_api_base_url" value="http://ampiappdev1:8888/api/v1/" />

    <!--dev urls-->
    <add key="dev_base_url" value="http://ampiappdev1:8108" />
    <add key="dev_api_base_url" value="http://ampiappdev1:8110/api/v1/" />

    <!--prod urls-->
    <add key="prod_base_url" value="" />
    <add key="prod_api_base_url" value="http://ampiweb01:8110/api/v1/" />


    <!--ampinoreply email and password-->
    <add key ="hoursdurationofoverdue" value="2"/>

    <add key ="ampinoreply_email_add" value="ampinoreply@allegromicro.com"/>
    <add key="ampinoreply_password" value="@welcome1"/>
    <add key="outlook_host" value="maoutlook.allegro.msad"/>
    <add key="email_sender" value="Lot Start Notification ampinoreply@allegromicro.com"/>
    <add key="email_subject" value="Move orders ready for pick up"/>
    <add key="email_subject_for_Warehouse" value="Move orders ready for staging"/>
    <add key="email_bcc" value="rherejias@allegromicro.com, avillena@allegromicro.com"/>

    
    <!--For Validate Model to get the email recipient-->
    <add key="test" value="Test"/>
    <add key="warehouse" value="Warehouse"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="soap" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://ampiweb01:8201/EmailNotificationService.svc/soap"
                        binding="basicHttpBinding" bindingConfiguration="soap"
                        contract="EmailServiceReference.IService" name="soap" />
        </client>
    </system.serviceModel>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client" />
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</DbProviderFactories>
</system.data>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>